*{
    margin: 0%;
}
#box1{
    border: 2px solid black;
    height: 250px;
    width:250px;
    background-color: blueviolet;
    font-size: 22px;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}
#box2{
    border: 2px solid black;
    height: 250px;
    width:250px;
    background-color: brown;
    font-size: 22px;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;

}
div{
    height: 50px;
    width: 50px;
    background-color: chocolate;
    border: 1px solid black;
    float: left;

}
p{
    clear: left;
}