.parent {
  width: 35vw;
  margin: auto;
  border: 2px solid black;
  
  display: grid;
  padding: 2px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: rgb(196, 203, 210);
}
.cont {
  font-size: 25px;
  border: 1px solid black;
  margin: 2.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-weight: 500;
  background-color: white;
  box-shadow: 0.50px 0.5px black;
  border-radius: 10px;
}
.cont:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px black;
}
.clear{
    
    background-color:rgb(187, 210, 232);
}
.result {

  font-size: 60px;
  padding: 2px;
  border: 1px solid black;
  background-color: white;
  font-weight: 300;
  margin: 2px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  border-radius: 10px;
  justify-content: end;
  align-items: end;
}
